<!-- Login page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Login</title>
</head>
<body id="login_body">
    <div id="login_container">
        <h2>Login</h2>
        <form id="login_form" method="POST" action="{{ url_for('auth.login') }}">
            <label id="username_label" for="username">Username</label>
            <input id="username" name="username" type="text" required><br>

            <label id="password_label" for="password">Password</label>
            <input id="password" name="password" type="password" required><br>

            <button id="login_button" type="submit">Login</button>
        </form>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in message %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>